<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <div th:replace="~{fragments/link :: link}"></div>

  <title>Pizza Detail</title>
</head>
<body>

<header th:replace="~{fragments/navbar :: navbar('pizzas', '', false)}"></header>

<div th:replace="~{fragments/message :: message}" ></div>


<div class="container" th:object="${pizza}">
    <h1 th:text="*{name}">Pizzas</h1>
    <hr/>
    <div>
        <dl>
            <dt>Name</dt>
            <dd th:text="*{name}"></dd>

            <th:block th:unless="${#strings.isEmpty(pizza.description)}">
                <dt>Description</dt>
                <dd th:text="*{description}"></dd>
            </th:block>

            <dt>Price</dt>
            <dd th:text="*{price}"></dd>

        </dl>
    </div>

    <div>
        <a th:href="@{/pizzas}"> Back to pizzas menu </a>
    </div>

</div>

</body>
</html>